{% extends 'base.html.twig' %}

{% block title %}Paiments{% endblock %}

{% block body %}
    <h1>Paiments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiment.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ paiment.type }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ paiment.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ paiment.date ? paiment.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paiments_index') }}">back to list</a>

    <a href="{{ path('app_paiments_edit', {'id': paiment.id}) }}">edit</a>

    {{ include('paiments/_delete_form.html.twig') }}
{% endblock %}
